@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    /* background-color: #d7f1ee; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: default;
    font-size: 30px;
}
header{
    background-color: rgba(0, 255, 255, 0.377);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 0px 0px 5px 0px;
    text-shadow: 1px 1px 1px black;
}
header > button{
    background-color: transparent;
    border: none;
}
main{
    background-color: rgba(0, 255, 255, 0.309);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 0px;
}
.alert-modal{
    color: red;
    display: none;
    font-size: 15px;
}
.alert-sucesso{
    color: blue;
    display: none;
    font-size: 15px;
}
.alert-valido{
    color: rgb(131, 234, 138);
    display: none;
    font-size: 15px;
}
#data-atual{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: rgba(34, 143, 143, 0.362);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 3px;
}
.modal {
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
/* Modal Content/Box */
.add-content-modal{
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column wrap;
    margin: 90px auto; /* 15% from the top and centered */
    padding: 20px;
    max-width: 600px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}
input{
    font-size: 15px;
}
/* The Close Button */
.add-close, .add-salvar {
    color: #aaa;
    display: flex;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.add-close:hover,
.add-close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.add-salvar:hover,
.add-salvar:focus {
    color: rgb(109, 247, 226);
    text-decoration: none;
    cursor: pointer;
}
  
.foot-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 10px;
    margin-top: 5px;
}
.foot-modal > button{
    background-color: transparent;
    padding: 0px 5px;
    border: 1px solid black;
    border-radius: 10px 10px;
    box-shadow: 1px 1px 3px black;
}
#nav-painel{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-width: 100px;
    min-height: 30px;
    margin: 10px 0px;
    gap: 10px;
}
#eventos-painel{
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    gap: 10px;
    margin: 0px 10px;
}
.btn{
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;
}
#limpar-tudo-config{
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
}
.btn-config > img{
    transform: rotate(0deg);
    transition: 0.5s;
}
.btn-config:hover > img{
    transform: rotate(90deg);
}
.btn-config{
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 100%;
}
.btn-config-interno{
    background-color: transparent;
    color: gray;
    font-size: 20px;
    padding: 0px 5px;
    border: none;
}
.btn-config-interno:hover{
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}
.btn-config-interno-caution:hover{
    color: red;
}
#nome-descricao{
    color: black;
    width: 100%;
    transform: scale(1);
    transition: transform 0.3s ease, color 0s;
}
#nome-descricao,
#conteudo-visualizar{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#conteudo-config{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column wrap;
    gap: 15px;
    margin: 15px 0px;
}
#caracteresNome,
#caracteresDescricao{
    width: 50px;
}
#evento-ativo{
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0px 5px;
    padding: 0px 5px;
    width: 100%;
}
#evento-ativo:hover{
    background-color: #28c2b5;
}
#evento-ativo:hover > #nome-descricao{
    color: white;
    transform: scale(1.02);
}

#edit-del{
    background-color: #d6d7d7b3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}
#res{
    background-color: #d6d7d7b3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
#res:hover,
#res:focus{
    background-color: rgb(127, 208, 255);
    color: white;
}
#edit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
#edit:hover,
#edit:focus{
    background-color: aquamarine;
    color: white;
}
#del{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
#del:hover,
#del:focus{
    background-color: lightcoral;
    color: white;
}
#h2-edit{
    display: none;
}
#confirm-limpar-tudo,
#msg-tudo-limpo,
#add-modal-config,
#h2-historico{
    display: none;
}
       /* MOBILE AJUST */
@media only screen and (max-width: 600px) {
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
.main, #edit, #del, #nome-descricao, #evento-ativo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis " [..]";
}
#nome-descricao > p, 
#nome-descricao > h4,
#conteudo-visualizar > h3,
#conteudo-visualizar > p{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis " [..]";
    direction: ltr;
}
}